<a href="https://colab.research.google.com/github/JuniorTorresMTJ/Pesquisa_DataHacker_Data_Salary/blob/master/Data_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd 

url ="https://github.com/JuniorTorresMTJ/Pesquisa_DataHacker_Data_Salary/blob/master/datahackers-survey-2019-anonymous-responses.csv?raw=true"

dados = pd.read_csv(url)
dados.head()

                       ('P0', 'id')  ...             ('D6', 'anonymized_role')
0  v9otv8j9wdvjrv9otvwnn9owhzq54ktv  ...                                Outras
1  875ul998t0hqcv0871uptwf3oswcfv35  ...        Data Analyst/Analista de Dados
2  puscuk079vw1pusbb900pzw2xvpxtgdk  ...                                Outras
3  rmel8ewqpbffp2mnfbzermel8eqincov  ...  Business Intelligence/Analista de BI
4  pj9mgud4d6mdct1l7vq0pj9mgu78h6ju  ...                                   NaN

[5 rows x 170 columns]

Quais são as Colunas?

In [7]:
print(dados.columns.values)

["('P0', 'id')" "('P1', 'age')" "('P2', 'gender')"
 "('P3', 'living_in_brasil')" "('P5', 'living_state')"
 "('P6', 'born_or_graduated')" "('P8', 'degreee_level')"
 "('P10', 'job_situation')" "('P12', 'workers_number')"
 "('P13', 'manager')" "('P16', 'salary_range')"
 "('P17', 'time_experience_data_science')"
 "('P18', 'time_experience_before')"
 "('P19', 'is_data_science_professional')" "('P20', 'linear_regression')"
 "('P20', 'logistic_regression')" "('P20', 'glms')"
 "('P20', 'decision_tree')" "('P20', 'random_forest')"
 "('P20', 'neural_networks')" "('P20', 'bayesian_inference')"
 "('P20', 'ensemble')" "('P20', 'svms')" "('P20', 'cnns')"
 "('P20', 'rnns')" "('P20', 'hmms')" "('P20', 'gans')"
 "('P20', 'markov_chains')" "('P20', 'nlp')"
 "('P20', 'gradient_boosted_machines')" "('P20', 'cluster_analysis')"
 "('P20', 'survival_analysis')" "('P20', 'longitudinal_data_analysis')"
 "('P20', 'joint analysis')" "('P20', 'no_listed_methods')"
 "('P21', 'sql_')" "('P21', 'r')" "('P21', 'python')"
 "('P21', 'c_c++_c#')" "('P21', 'dotnet')" "('P21', 'java')"
 "('P21', 'julia')" "('P21', 'sas_stata')" "('P21', 'visual_basic_vba')"
 "('P21', 'scala')" "('P21', 'matlab')" "('P21', 'php')"
 "('P21', 'no_listed_languages')"
 "('P22', 'most_used_proggraming_languages')" "('P23', 'sql')"
 "('P23', 'nosql')" "('P23', 'images')" "('P23', 'nlp')"
 "('P23', 'videos')" "('P23', 'sheets')" "('P23', 'other')"
 "('P24', 'sql')" "('P24', 'nosql')" "('P24', 'imagens')" "('P24', 'nlp')"
 "('P24', 'vídeos')" "('P24', 'planilhas')" "('P24', 'other')"
 "('P25', 'aws')" "('P25', 'gcp')" "('P25', 'azure')" "('P25', 'ibm')"
 "('P25', 'on_premise_servers')" "('P25', 'cloud_própria')"
 "('P25', 'other')" "('P26', 'mysql')" "('P26', 'oracle')"
 "('P26', 'sql_server')" "('P26', 'aurora')" "('P26', 'dynamodb')"
 "('P26', 'coachdb')" "('P26', 'cassandra')" "('P26', 'mongodb')"
 "('P26', 'mariadb')" "('P26', 'datomic')" "('P26', 's3')"
 "('P26', 'postgresql')" "('P26', 'elaticsearch')" "('P26', 'db2')"
 "('P26', 'ms_access')" "('P26', 'sqlite')" "('P26', 'sybase')"
 "('P26', 'firebase')" "('P26', 'vertica')" "('P26', 'redis')"
 "('P26', 'neo4j')" "('P26', 'google_bigtable')" "('P26', 'hbase')"
 "('P26', 'other')" "('P27', 'microsoft_powerbi')"
 "('P27', 'qlik_view_qlik_sense')" "('P27', 'tableau')"
 "('P27', 'metabase')" "('P27', 'superset')" "('P27', 'redash')"
 "('P27', 'microstrategy')" "('P27', 'ibm_analytics_cognos')"
 "('P27', 'sap_business_objects')"
 "('P27', 'oracle_business_intelligence')" "('P27', 'birst')"
 "('P27', 'looker')" "('P27', 'google_data_studio')"
 "('P27', 'only_excel_gsheets')" "('P27', 'no_bi_tool_at_work')"
 "('P27', 'other')" "('P28', 'sql_&_stored_procedures')"
 "('P28', 'apache_airflow')" "('P28', 'luigi')" "('P28', 'aws_glue')"
 "('P28', 'talend')" "('P28', 'pentaho')" "('P28', 'alteryx')"
 "('P28', 'oracle_data_integrator')" "('P28', 'ibm_data_stage')"
 "('P28', 'sap_bw_etl')" "('P28', 'siss_sql_server_integration_services')"
 "('P28', 'other')" "('P29', 'have_data_warehouse')"
 "('P30', 'google_bigquery')" "('P30', 'aws_redshift')"
 "('P30', 'snowflake')" "('P30', 'oracle')" "('P30', 'postgres_mysql')"
 "('P30', 'ibm')" "('P30', 'teradata')" "('P30', 'microsoft_azure')"
 "('P30', 'do_not_know')" "('P30', 'other')"
 "('P31', 'data_hackers_blog')" "('P31', 'data_hackers_podcast')"
 "('P31', 'weekly_newsletter')" "('P31', 'slack_channel')"
 "('P31', 'data_hackers_bootcamp')" "('P31', 'do_not_know_data_hackers')"
 "('P32', 'prefered_data_hackers_initiative')"
 "('P33', 'telegram_groups')" "('P33', 'whatsapp_groups')"
 "('P33', 'youtube_channels')" "('P33', 'other_brasilian_blogs')"
 "('P33', 'other_slack_channels')" "('P33', 'twitter')"
 "('P33', 'abroad_blogs')" "('P33', 'abroad_podcasts')"
 "('P33', 'meetups_and_events')" "('P33', 'only_data_hackers')"
 "('P33', 'other')" "('P34', 'udacity')" "('P34', 'coursera')"
 "('P34', 'udemy')" "('P34', 'height')" "('P34', 'edx')"
 "('P34', 'data_camp')" "('P34', 'data_quest')" "('P34', 'kaggle_learn')"
 "('P34', 'online_courses')" "('P34', 'other')"
 "('P35', 'data_science_plataforms_preference')" "('P35', 'other')"
 "('P36', 'draw_participation')" "('D1', 'living_macroregion')"
 "('D2', 'origin_macroregion')" "('D3', 'anonymized_degree_area')"
 "('D4', 'anonymized_market_sector')" "('D5', 'anonymized_manager_level')"
 "('D6', 'anonymized_role')"]

Qual Tamanho do CSV?

In [22]:
dados.shape

(1765, 170)

Quem respondeu o questionário ?

In [21]:
dados["('D6', 'anonymized_role')"].value_counts()

Desenvolvedor ou Engenheiro de Software    225
Outras                                     220
Data Scientist/Cientista de Dados          167
Data Analyst/Analista de Dados             163
Business Intelligence/Analista de BI       150
Data Engineer/Engenheiro de Dados          130
Business Analyst/Analista de Negócios       72
Analista de Inteligência de Mercado         29
Engenheiro                                  26
Analista de Marketing                       19
Engenheiro de Machine Learning              15
DBA/Administrador de Banco de Dados         14
Estatístico                                 11
Economista                                  10
Name: ('D6', 'anonymized_role'), dtype: int64

Qual escolaridade dos participantes?

In [24]:
dados["('P8', 'degreee_level')"].value_counts()

Graduação/Bacharelado         578
Pós-graduação                 527
Estudante de Graduação        374
Mestrado                      201
Doutorado ou Phd               50
Não tenho graduação formal     34
Prefiro não informar            1
Name: ('P8', 'degreee_level'), dtype: int64

Qual a situação empregatícia ?

In [28]:
dados["('P10', 'job_situation')"].value_counts()

Empregado (CTL)                                  1073
Empreendedor ou Empregado (CNPJ)                  234
Estagiário                                        131
Somente Estudante (graduação)                      85
Desempregado, buscando recolocação                 69
Servidor Público                                   60
Trabalho na área Acadêmica/Pesquisador             45
Somente Estudante (pós-graduação)                  36
Freelancer                                         23
Prefiro não dizer                                   6
Desempregado e não estou buscando recolocação       3
Name: ('P10', 'job_situation'), dtype: int64

Qual o Gênero ?

In [29]:
dados["('P2', 'gender')"].value_counts()

Masculino    1436
Feminino      326
Name: ('P2', 'gender'), dtype: int64

Quem respondeu geralmente usa qual Linguagem de programação?

In [30]:
dados["('P22', 'most_used_proggraming_languages')"].value_counts()

Python                                         459
SQL                                            279
R                                               91
SAS/Stata                                       19
Java                                            17
Visual Basic/VBA                                12
Não utilizo nenhuma das linguagens listadas     10
Scala                                           10
C/C++/C#                                         9
Name: ('P22', 'most_used_proggraming_languages'), dtype: int64

Por onde preferem estudar Data Science?

In [31]:
dados["('P35', 'data_science_plataforms_preference')"].value_counts()

Udemy                      466
Coursera                   309
Udacity                    238
Nunca fiz cursos online    162
DataCamp                   162
Alura                      138
Kaggle Learn                74
edX                         52
DataQuest                   24
Name: ('P35', 'data_science_plataforms_preference'), dtype: int64